# environment
.env
.env.*

# dependencies
node_modules/

# build
dist/
build/

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vite cache
.vite

# testing
coverage/
playwright-report/

# lock files optional
bun.lockb